body{
    background: rgba(145, 109, 43, 0.274);
    font-family: 'Inter', sans-serif;
}

.header{
    width: 100%;
}
img{
    object-fit: cover;
    width: 100%;
}
h1{
    font-size: 45px;
}
p{
display: inline-block;
}
.accordeon_wrapper{
    width: 40%;
    margin: 40px auto 0 auto;
}
.accordeon_container{
    width: 100%;
    margin: 0 auto 5px auto;
    cursor: pointer;
}
.accordeon_container input{
    display: none;
    
}
.accordeon_container label{
    height: 2em;
    /* background-color: aqua; */
    display: flex;
    padding: 0 0 0 5%;
    border-bottom: 0.5px solid black;
    justify-content: space-between;
    line-height: 1em;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    /* letter-spacing: 1px; */
    margin: 0 0 5px 0;
    color: rgba(28, 28, 179, 0.685);
    transition: transform 1s ease-out;
}

.accordeon_container label i{
    height: 1em;
    width: 1em;
    margin: 0 3% 0 0;
}
.accordeon_container article{
    width: 60%;
    height: 0px;
    overflow: hidden;
    display: block;
    transition: transform 1s;
    margin: 0 auto;
}

.accordeon_container input:checked ~ article {
    width: 70%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}
.accordeon_wrapper:hover>.accordeon_container>label> i{
    background: url('../assets/img/plus-solid.svg')0 0/auto 100% no-repeat;
}
/* .accordeon_wrapper:hover> .accordeon_container>label> i{
    background: url('../assets/img/square-plus-solid.svg')0 0/auto 100% no-repeat;
} */

.accordeon_container input:checked ~ label{
    border-bottom: none;
    color: black;
}
.accordeon_wrapper:hover>.accordeon_container>  ~ label> i{
    /* background: url('../assets/img/square-minus-regular.svg')0 0/auto 100% no-repeat; */
    transform: rotate(45deg);
}
/* .accordeon_wrapper:hover> .accordeon_container> input:checked ~ label> i{
    background: url('../assets/img/square-minus-solid.svg')0 0/auto 100% no-repeat;
} */
.accordeon_wrapper:hover>.accordeon_container>label{
    color: black;
}
.accordeon_container:hover article{
    width: 70%;
    height: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    background: url('../assets/img/square-minus-solid.svg')0 0/auto 100% no-repeat;
}
.accordeon_container:hover label i{
    transform: rotate(45deg);
}
.accordeon_container>article:active ~ label{
    color: rgba(28, 28, 179, 0.685);
}
article:active{
    filter: blur(1px);
}
@media (max-width: 900px){
    .accordeon_container label{
        font-size: 25px ;
    }
}

@media (max-width: 820px){
    h1{
    font-size: 30px;
    }
    .accordeon_container label{
        font-size: 20px ;   
    }    
}

@media (max-width: 320px){
    h1{
     font-size: 15px;
    }
    .accordeon_container label{
        font-size: 10px ;    
    }  
 }
    
